<div class="mega-menu row">
    <div class="col-12 extend">
        <section class="col-4 featured">
            <span class="heading">مطالب ویژه</span>
            <div class="highlights">
                <article>
                    <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است" class="image-link">
                        <img width="351" height="185" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-351x185.jpg" class="image wp-post-image" alt="gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy.jpg" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-351x185.jpg 351w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-300x159.jpg 300w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy.jpg 620w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-300x159@2x.jpg 600w" sizes="(max-width: 351px) 100vw, 351px" />
                    </a>
                    <div class="meta">
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:38+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <span class="views">۸۴ بازدید</span>
                    </div>
                    <h2><a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است</a></h2>
                </article>
            </div>
        </section>

        <section class="col-8 recent-posts">
            <span class="heading">مطالب جدید</span>
            <div class="posts-list col-6">
                <div class="post">
                    <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy.jpg" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:38+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
                <div class="post">
                    <a href="http://invaroonvar.com/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%da%a9%d9%86%db%8c%d8%af-%d8%a8%d9%87%d8%aa%d8%b1%db%8c%d9%86-%d8%a8%d8%b1%d9%86%d8%a7%d9%85%d9%87-%d9%87%d8%a7%db%8c-%d9%85%d9%88%d8%a8%d8%a7%db%8c%d9%84%db%8c/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499900-New-apps-header.jpg" title="دانلود کنید: بهترین برنامه های موبایلی جدید اندروید و آی او اس (۲ الی ۹ آذرماه)" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:33+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
                <div class="post">
                    <a href="http://invaroonvar.com/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%da%a9%d9%86%db%8c%d8%af-%d8%a8%d9%87%d8%aa%d8%b1%db%8c%d9%86-%d8%a8%d8%b1%d9%86%d8%a7%d9%85%d9%87-%d9%87%d8%a7%db%8c-%d9%85%d9%88%d8%a8%d8%a7%db%8c%d9%84%db%8c/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499900-New-apps-header.jpg" title="دانلود کنید: بهترین برنامه های موبایلی جدید اندروید و آی او اس (۲ الی ۹ آذرماه)" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:33+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
            </div>
            <div class="posts-list col-6">
                <div class="post">
                    <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy.jpg" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499904-Surface-Phone-concept-renders-by-Behance9-copy-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:38+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
                <div class="post">
                    <a href="http://invaroonvar.com/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%da%a9%d9%86%db%8c%d8%af-%d8%a8%d9%87%d8%aa%d8%b1%db%8c%d9%86-%d8%a8%d8%b1%d9%86%d8%a7%d9%85%d9%87-%d9%87%d8%a7%db%8c-%d9%85%d9%88%d8%a8%d8%a7%db%8c%d9%84%db%8c/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499900-New-apps-header.jpg" title="دانلود کنید: بهترین برنامه های موبایلی جدید اندروید و آی او اس (۲ الی ۹ آذرماه)" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:33+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
                <div class="post">
                    <a href="http://invaroonvar.com/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%da%a9%d9%86%db%8c%d8%af-%d8%a8%d9%87%d8%aa%d8%b1%db%8c%d9%86-%d8%a8%d8%b1%d9%86%d8%a7%d9%85%d9%87-%d9%87%d8%a7%db%8c-%d9%85%d9%88%d8%a8%d8%a7%db%8c%d9%84%db%8c/"><img width="110" height="96" src="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="gadgetnews-1480499900-New-apps-header.jpg" title="دانلود کنید: بهترین برنامه های موبایلی جدید اندروید و آی او اس (۲ الی ۹ آذرماه)" srcset="http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96.jpg 110w, http://invaroonvar.com/wp-content/uploads/2016/11/gadgetnews-1480499900-New-apps-header-110x96@2x.jpg 220w" sizes="(max-width: 110px) 100vw, 110px" /></a>
                    <div class="content">
                        <span class="views">۸۴ بازدید</span>
                        <time datetime="۱۳۹۵-۰۹-۱۰T13:28:33+00:00">آذر ۱۰, ۱۳۹۵ </time>
                        <a href="http://invaroonvar.com/%d9%be%da%af%d8%a7%d8%aa%d8%b1%d9%88%d9%86-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d9%87%d8%a7%db%8c-%d8%a7%d9%88%d9%84%db%8c%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d8%b3%d8%a7%d8%ae%d8%aa-%d8%b3%d8%b1/" title="پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده است">پگاترون آزمایش‌های اولیه برای ساخت سرفیس فون را آغاز کرده اس</a>
                    </div>
                </div>
            </div>
            <div class="posts-list col-6"></div>
        </section>
    </div>
</div>